/* shared style  */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700;800&display=swap");

.menu-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}

button:hover {
  transform: scale(1.02);
  cursor: pointer;
  filter: saturate(2);
  box-shadow: 0px 0px 10px gray;
}

.common-font {
  color: #0b0223;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.light-text {
  color: #534c64;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

/* header style */
.menu-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* logo  */

.logo-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo-img {
  height: 35%;
  width: 100%;
}
.pink {
  color: #ff42a5;
}
.logo-text {
  color: #0b0223;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* menu  */
.menu-container {
  display: flex;
  gap: 30px;
  padding: 0;
}
.menu-option {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu-option a {
  text-decoration: none;
  color: #3c354f;
  font-weight: 500;
}
.follow-btn {
  border: none;
  display: flex;
  gap: 10px;
  width: 180px;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 5px 15px;
}
/* banner section design  */
.banner-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(images/career1.png),
    linear-gradient(-105deg, #acdaee46 0%, #ed79b511 100%);
  background-blend-mode: multiply;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  padding-top: 20px;
  border-radius: 5px;
  border-bottom: 3px solid #ff42a5;
  border-top: 3px solid #ff42a5;
}
.banner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 0;
  row-gap: 10px;
}
.banner-img {
  width: 50%;
  height: 100%;
  align-self: last baseline;
}
.banner-content * {
  margin: 0;
  padding: 0;
}
.banner-content h2 {
  color: #0b0223;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.banner-content h1 {
  text-align: center;
  font-size: 5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
.banner-list {
  margin-bottom: 10px;
}
.banner-list li {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
}
.btn-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
}
.btn-container button {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 48px;
  border: none;
}
.sign-btn {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.rogue-btn {
  background: #4ec5f7;
}
/* fun section design  */
.fun-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.fun-section * {
  margin: 0;
  padding: 0;
}
.fun-section > .light-text {
  padding-bottom: 25px;
}
.cards-container {
  display: flex;
  column-gap: 28px;
  width: 100%;
  justify-content: center;
}
.cards-container figure {
  width: 15%;
  margin: 0;
}
.card {
  height: 100%;
  width: 100%;
}
figure .light-text {
  font-size: 0.8rem;
  padding-top: 15px;
}
.colored-span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid transparent;
}
.hover-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.hover-content img {
  margin-bottom: 10px;
}
.hover-content p {
  font-weight: 600;
  font-size: 16px;
  color: #f948b2;
}
.img-container:hover .hover-content {
  cursor: pointer;
  display: block;
}
.img-container:hover .card {
  background-color: #ff42a5;
  filter: brightness(50%);
  cursor: pointer;
}
.img-container:hover {
  border: 5px solid #ff42a5;
  border-radius: 10px;
  background-color: #ff42a5;
}

/* play instant section  */
.play-instantly-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.play-content {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: right;
}
.play-content * {
  margin: 0;
  padding: 0;
}
.play-img-container {
  position: relative;
  height: 478px;
  width: 35%;
}
.main-img {
  height: 100%;
  width: 100%;
}
.badge-img {
  position: absolute;
  width: 25%;
  left: -40px;
  bottom: -40px;
  box-shadow: 0px 0px 10px grey;
}
/* career section  */
.career-section {
  display: flex;
  flex-direction: row-reverse;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
  align-items: center;
}
.career-section * {
  margin: 0;
  padding: 0;
}
.career-img {
  width: 50%;
}
.career-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-left: 80px;
  padding-right: 20px;
}
.career-title {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
}
.career-desc {
  color: #fbf8f8c3;
  font-size: 1rem;
  font-weight: 400;
}
.career-content ul li {
  list-style: none;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 600;
}
.lists-container {
  display: flex;
  justify-content: space-between;
}
.places {
  text-align: right;
}
.position-btn {
  display: inline-block;
  background-color: aliceblue;
  margin: 0 auto auto 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #ff42a5;
}
/* catagory section */
.catagory-section {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0px 70px;
  margin-bottom: 80px;
}
.catagory-section .common-font {
  text-align: center;
  padding: 0;
  margin: 0;
}
.catagory1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.catagory2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.catagory1 div,
.catagory2 div {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 2px solid transparent;
  padding: 5px;
}
.game-name {
  margin: 0;
  padding: 0;
  color: #0b0223;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.catagory1 div:hover,
.catagory2 div:hover {
  background-color: rgb(185, 202, 226);
  color: #ff42a5;
  border: 2px solid #f948b2;
  cursor: pointer;
  transform: scale(1.05);
}
.game-logo {
  height: 60%;
}

footer {
  display: flex;
  flex-direction: column;
  color: #fff;
  background: #0b0223;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 50px;
  border-bottom: 5px solid skyblue;
}
footer .logo-container .logo-text {
  color: #fff;
}
.footer-menus,
.footer-logos,
.terms-options {
  color: #fff;
  display: flex;
  gap: 60px;
}
footer .logo-container .logo-img {
  width: 40px;
}
.terms-options .menu-link {
  color: rgba(255, 255, 255, 0.6);
}

/* media query */

/* mobile devices */
@media screen and (max-width: 576px) {
  .logo-text {
    font-size: 1.8rem;
  }
  .logo-img {
    width: 90%;
    height: 25%;
  }
  .menu-section {
    flex-direction: column;
    padding: 10px 0;
    margin: 0;
  }
  .menu-container {
    flex-direction: column;
    align-items: center;
  }
  .banner-section {
    flex-direction: column-reverse;
  }
  .banner-img {
    padding-top: 40px;
    width: 100%;
  }
  .banner-content {
    align-items: center;
  }
  .fun-section {
    justify-content: center;
    text-align: center;
  }
  .cards-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cards-container figure {
    width: 90%;
  }
  .play-instantly-section {
    flex-direction: column;
    row-gap: 20px;
  }
  .main-img {
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid goldenrod;
  }
  .badge-img {
    left: -20px;
    bottom: -20px;
  }
  .play-content {
    padding: 0;
    text-align: center;
    width: 50%;
  }
  .play-img-container {
    width: 80%;
  }
  .career-section {
    padding: 20px;
    flex-direction: column-reverse;
  }
  .career-img {
    padding-top: 30px;
    width: 100%;
  }
  .career-content {
    padding: 0;
  }
  .career-desc,
  .career-title {
    text-align: center;
  }
  .lists-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .lists-container ul {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 5px;
  }
  .catagory-section {
    gap: 0px;
    margin: 0;
    padding: 0;
  }
  .catagory-section>div{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     transform: scale(.8);
  }
  .catagory-section .common-font {
    margin-bottom: 15px;
  }
  footer {
    text-align: center;
    gap: 40px;
  }
  .footer-menus,
  .footer-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: center;
    justify-items: center;
  }
  .terms-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .position-btn {
    margin: 0 auto;
  }
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 996px) {
  .menu-section {
    flex-direction: column;
    padding: 10px 0;
    margin: 0;
  }
  .banner-section {
    padding: 20px;
    background-repeat: repeat;
  }
  .banner-img {
    align-self: auto;
  }
  .banner-content {
    align-items: center;
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .cards-container figure {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .play-instantly-section {
    flex-direction: column;
    row-gap: 20px;
  }
  .play-content {
    padding: 0;
    text-align: center;
    width: 45%;
  }
  .play-img-container {
    width: 50%;
  }
  .career-section {
    padding: 40px;
  }
  .career-content {
    padding-left: 10px;
  }
  .lists-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .lists-container ul {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 5px;
  }
  .catagory-section {
    gap: 30px;
  }
  footer {
    text-align: center;
  }
  .footer-menus {
    gap: 50px;
  }
  .catagory-section > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
